body{
    background-color: #343434;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #F5F5F5;
}

h1{
    text-align: center;
    color: #F5F5F5;
    margin-top: 0;
    margin-bottom: 40px;
}

.btn-awayplanner {
    background-color: #f5f5f5; /* Custom background color */
    color: #343434; /* Custom text color */
    border-color: #343434; /* Custom border color */
}

.btn-awayplanner:hover,
.btn-awayplanner:focus {
    background-color: #d79921;
    border: #343434;
}