/*TODO: arranjar um conjunto de cores como deve ser.*/
/*
***Códigos hexa porreiros***
branco: #f4f3f7
preto: #0f0a0a
cinzento: #C0C0C0
cor-primária: #14213d
cor-secundária: #fca311
cor-primária: #14213d
cor-secundária: #fca311
*/
/*FIXME: Modificar os estilos de modo a não modificar as classes do bootstrap*/
body{
    background-color: #f4f3f7; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0f0a0a;
}

.btn-ap-primary {
    background-color: #f4f3f7;
    border-width: 2px;
    font-size: 40px;
    transition: background-color 0.3s ease;
}

.btn-ap-primary:hover,
.btn-ap-primary:focus,
.opcoes-index:hover,
.opcoes-index:focus{
    background-color: #fca311;
}

.btn-ap-secondary{
    background-color: #C0C0C0;
    outline: 1px solid #14213d;
}
.btn-ap-secondary:hover,
.btn-ap-secondary:focus{
    background-color: #d79921;
    border: #d79921;
}

.div-viagem{

    background-color: #C0C0C0;
    margin: 15px;
    outline: 3px solid #0f0a0a;
}

.num-inscritos{
    background-color:#98971a;
    border-radius: 40%;
}

.caixa-texto{
    border: 6px solid #14213d;
    margin: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.lista-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.participante-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
}

.attribute-label {
    font-weight: bold;
    flex-basis: 30%;
}

.attribute-value {
    flex-basis: 65%;
}

.opcoes-index{
    height: 50vh;
    width: 100%;
    background-color: #f4f3f7;
    border-width: 1px;
    font-size: 40px;
}