/*TODO: arranjar um conjunto de cores como deve ser.*/
/*
***Códigos hexa porreiros***
branco: #f4f3f7
preto: #0f0a0a
cinzento: #C0C0C0
cor-primária: #D0BAA9 (castanho)
cor-secundária: #37392E (azeitona)

*/
/*FIXME: Modificar os estilos de modo a não modificar as classes do bootstrap*/
body{
    background-color: #f4f3f7; 
    color: #37392E;
}

.opcoes-index{
    height: 25vh;
    width: 100%;
    background-color: #f4f3f7;
    border-width: 1px;
    font-size: 40px;
}

/*768px é equivalente ao tamanho médio do Bootstrap*/
@media (min-width: 768px){
    .opcoes-index {
        height: 50vh;
    }
}

.nav-link,
.navbar-brand{
    color: #37392E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.nav-link:hover,
.nav-link:focus{
    color: #D0BAA9;
    transition: 0.5s;
}

.form-control::placeholder { 
    color: #8C8C91; 
    opacity: 1;
}