body{
    background-color: #32302f; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #d4be98;
}

h1{
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif; /*TODO: arranjar um tipo de letra em condições*/
    color:#eaeceb;
    margin-top: 0;
    margin-bottom: 40px;
}
h2{
    color:#d8a657;
}
.btn-ap-primary {
    background-color: #eaeceb;
    color: #343434; 
    border-color: #343434;
}

.btn-ap-primary:hover,
.btn-ap-primary:focus {
    background-color: #e4bb97;
    border: #343434;
}

.btn-ap-secundary{
    background-color: #504945;
}

.div-viagem{

    background-color: wheat;
    margin: 15px;
    outline: 5px solid #d79921;
}

.num-inscritos{
    background-color:#98971a;
    border-radius: 40%;
}